body {
    padding: 0px;
    background: #151A26;
    overflow: hidden;
}

.title {
    display: flex;
}

.title h1 {
    width: min-content;
    margin: auto;
    font-size: 58px;
    font-family: "Vibur", sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.content {
    display: flex;
    background: url("./assets/background.png");
    background-size: auto;
    /* Ajusta la imagen para que cubra todo el div */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    border: solid #2a303d;

}

.game-container {
    margin: auto;
}

.game-canvas {
    /* 480P vertical! 640×480*/
    image-rendering: pixelated;
}

.neon-text {
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #151A26,
        0 0 82px #151A26,
        0 0 92px #151A26,
        0 0 102px #151A26,
        0 0 151px #151A26;
    font-size: 6.2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.4em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #151A26,
        0 0 0.8rem #151A26,
        0 0 2.8rem #151A26,
        inset 0 0 1.3rem #151A26;
    font-family: "Sacramento", sans-serif;
}

@keyframes pulsate {

    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #151A26,
            0 0 80px #151A26,
            0 0 90px #151A26,
            0 0 100px #151A26,
            0 0 150px #151A26;

    }

    0% {

        text-shadow:
            0 0 2px #fff,
            0 0 4px #fff,
            0 0 6px #fff,
            0 0 10px #151A26,
            0 0 45px #151A26,
            0 0 55px #151A26,
            0 0 70px #151A26,
            0 0 80px #151A26;

    }
}

.counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
    position: absolute;
    width: 100%;
}

.counter {
    font-size: 34px;
    color: rgb(156, 209, 255);
    text-shadow: 0 0 20px #08f, 0 0 40px #08f, 0 0 60px #08f; 
    letter-spacing: 5px;
    position: absolute;
    left: 29%;
    top: 20px;
}

.modal {
     position: fixed;
     z-index: 1;
     left: 0; 
     display: none; 
     top: 0;
     width: 100%;
     height: 100%;
     overflow: none;
     background-color: rgba(10, 15, 13, 0.9); 
 }
 
 .modal-content {
     background-color: #202C37;
     margin: 15% auto;
     padding: 20px;
     border: 2px solid #08f; 
     width: 80%; 
     text-align: center;
     color: white;
     font-size: 1.5em;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 255, 0.5), 0 6px 20px 0 rgba(0, 0, 255, 0.7); 
 }
 
.button-retry {
     font-size: 1em;
     padding: 10px;
     margin-top: 20px;
     background-color: #08f;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }